body {
  font-family: "Source Sans Pro Light";
  background-color: #cad3d3;
}

body .container .grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 180px 375px;
}

body .container .grid__container .grid__item {
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  position: relative;
  line-height: 20px;
  height: 280px;
  text-align: center;
}

body .container .grid__container .grid__item:first-child {
  background-image: url(../images/ocean.png);
}

body .container .grid__container .grid__item:first-child:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

body .container .grid__container .grid__item:nth-child(2) {
  background-image: url(../images/mountain.png);
}

body .container .grid__container .grid__item:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

body .container .grid__container .grid__item:nth-child(3) {
  background-image: url(../images/forest.png);
}

body .container .grid__container .grid__item:nth-child(3):before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

body .container .grid__container .grid__item:nth-child(3n) {
  margin-left: 30px;
}

body .container .grid__container .grid__item:nth-child(3n-1) {
  margin: 0 15px;
}

body .container .grid__container .grid__item:nth-child(3n-2) {
  margin-right: 30px;
}

body .container .grid__container .grid__item:nth-child(even) .grid__item__price {
  background-color: #2c2e3d;
}

body .container .grid__container .grid__item .grid__item__price {
  position: absolute;
  background: #ffffff;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120px;
  width: 120px;
}

body .container .grid__container .grid__item .grid__item__price__main {
  padding-top: 33%;
  font-size: 2rem;
}

body .container .grid__container .grid__item .grid__item__price__main_total:first-child {
  color: #309df8;
}

body .container .grid__container .grid__item .grid__item__price__main_total:nth-child(even) {
  color: #d74498;
}

body .container .grid__container .grid__item .grid__item__price__main_total:last-child {
  color: #32ad1e;
}

body .container .grid__container .grid__item .grid__item__price__title {
  font-size: 1rem;
  line-height: 40px;
  color: #99a9b5;
}

body .container .grid__container .grid__item .grid__item__content {
  font-size: 2.25rem;
  font-family: "Montserrat UltraLight";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

body .container .grid__container .grid__item .grid__item__content_sub {
  font-size: 0.75rem;
  color: #b6c6c9;
}

body .container .grid__container .grid__item .grid__item__new {
  background-image: url(../images/newmark.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  font-family: "Montserrat Bold";
  font-size: 0.75rem;
  width: 80px;
  top: -16px;
  left: -16px;
  line-height: 80px;
  color: #ffffff;
}

body .container .grid__container .grid__item .grid__item__list {
  font-family: "Source Sans Pro Regular";
  color: #5f727f;
  font-weight: 500;
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 3.125rem;
}

body .container .grid__container .grid__item .grid__item__list li:first-child {
  font-size: 1.6rem;
  font-weight: normal;
}

body .container .grid__container .grid__item .grid__item__list li:nth-child(2n) {
  background: #f4f6f7;
}

body .container .grid__container .grid__item .grid__item__list li:last-child {
  position: relative;
  height: 150px;
}

body .container .grid__container .grid__item .grid__item__list li .button {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.1875rem;
  color: #2196f7;
  text-align: center;
  border: 1px solid #2196f7;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container .grid__container .grid__item .grid__item__list li .button:hover {
  background-color: #6c136f;
  border: 1px solid #6c136f;
  color: #ffffff;
  cursor: pointer;
}

body .container .grid__container .grid__item .grid__item__list .grid__item__subtitle {
  font-size: 0.875rem;
  color: #99a9b5;
}
/*# sourceMappingURL=style.css.map */