a {
    text-decoration: none;
}

ul
{
    display:flex;  
    list-style:none;
}

header {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
}

.content {
    max-width: 60.9375vw; /* 1170px / 1920px */
    margin: 0 auto;
    width: 100%;
}

header .header-top {
    background-color: #f4f6f7;
    border-top: 5px solid #00bcd4;
    border-bottom: 1px solid #dfe5e8;
}

header .header-top .header-contact {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header .header-top .header-contact a {
    color: #5f727f;
}

header .header-top .header-contact .header-contact-number {
    margin-right: 105px;
}

header .header-top .header-contact .header-contact-media {
    margin-right: 96px;
}

header .header-top .header-contact .header-contact-media li {
    margin-right: 19px;
}

header .header-top .header-contact .header-contact-personal li {
    margin-right: 23px;
}

header .header-top .header-contact .header-contact-wishlist {
    text-align: center;
    cursor: pointer;
    background-color: #494c64;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 12px;
}

header .header-bottom {
    background-color: #fff;
    border-bottom: 1px solid #dfe5e8;
}

header .header-bottom .header-navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header .header-bottom .header-navbar .navigation li a {
    font-family: 'Montserrat', sans-serif;
    color: #3c3950;
    text-transform: uppercase;
    margin: 0 25px;
    font-size: 14px;
}

header .header-bottom .header-navbar .navigation li:first-child a {
    font-size: 27px;
    margin-left: 0;
    margin-right: 90px;
}

header .header-bottom .header-navbar .navigation li, .header-logo, .sub-navigation, .cart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header .header-bottom .header-navbar .navigation li.sub-navigation a {
    margin: 0 10px;
    padding-left: 2px;
}

header .header-bottom .header-navbar .navigation li.sub-navigation .cart div {
    width: 32px;
    height: 17px;
    background-color: #00bcd4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 2px;
}

header .header-bottom .header-navbar .navigation li.sub-navigation .cart div::before {
    content: "";
    position: absolute;
    border-top: solid 10px transparent;
    border-left: solid 10px #ffffff;
    top: 50%;
    left: 0;
}

header .header-bottom .header-navbar .navigation li.sub-navigation .cart div::after {
    content: "";
    position: absolute;
    border-top: solid 10px #ffffff;
    border-right: solid 10px transparent;
    top: 0;
    left: 0;
}

header .header-bottom .header-navbar .navigation li a:hover {
    color: #00bcd4;
}

header .header-bottom .header-navbar .navigation li:nth-child(6) {
    border: 2px solid #3c3950;
}

header .header-slider {
    background-color: #f4f6f7;
}

header .header-slider .slider .slider-content {
    height: 200px;
    position: relative;
}

header .header-slider .slider .slider-content .slider-content-img {
    position: absolute;
    right: 0;
    top: 40px;
}

header .header-slider .slider .slider-content .slider-content-title {
    position: absolute;
    font-size: 50px;
    left: 0;
    top: 40px;
    color: #3c3950;
    text-transform: uppercase;
}

header .header-slider .slider .slider-content .slider-content-title span {
    font-weight: 400;
}

header .header-slider .slider .slider-content .slider-content-navigation {
    position: absolute;
    bottom: 12px;
}

header .header-slider .slider .slider-content .slider-content-navigation a {
    padding-right: 16px;
    font-size: 16px;
    color: #00bcd4;
}

header .header-slider .slider .slider-content .slider-content-navigation i {
    padding-right: 16px;
}

header .header-slider .slider .slider-content .slider-content-navigation a:last-child {
    padding-right: 10px;
    padding-bottom: 6px;
    color: #99a9b5;
    border-bottom: 4px solid #ff5252;
}

.container .container-cart .container-cart-title {
    font-size: 24px;
    color: #5f727f;
    padding-top: 90px;
}

.container .container-cart .container-cart-title span.total-items {
    color: #00bcd4;
}

table.table-items {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3c3950;
    border: 1px solid #dfe5e8;
}

table.table-items .title-name {
    width: 60%;
    padding-left: 88px;
}

table.table-items .product-name, table.table-items .product-quantity .product-quantity-box {
    display: flex;
    text-decoration: row;
    align-items: center;
    font-size: 16px;
}

table.table-items .product-name .product-delete-btn {
    font-size: 22px;
    color: red;
    padding: 0 32px;
}

table.table-items .product-name .product-img {
    margin-right: 22px;
}

table.table-items .product-name .product-details {
    color: #00bcd4;
    margin-right: 5px;
}

table.table-items .product-name .product-option {
    color: #99a9b5;
    font-size: 14px;
}

table.table-items tr th {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 22px;
    padding-top: 22px;
    border: 1px solid #b6c6c9;
    text-align: left;
}

table.table-items tr:nth-child(odd) {
    background-color: #f0f3f2;
}

table.table-items tr:first-child {
    color: #ffffff;
    background-color: #b6c6c9;
}

table.table-items tr:last-child {
    background-color: #ffffff;
    border-top: 1px solid #dfe5e8;
}

table.table-items tr td {
    padding-top: 17px;
    padding-bottom: 14px;
}

table.table-items .product-quantity .product-quantity-box {
    width: fit-content;
    text-align: center;
    border: 1px solid #dfe5e8;
    background-color: #f5f7f6;
}

table.table-items .product-quantity .product-quantity-box .decrease, 
table.table-items .product-quantity .product-quantity-box .increase {
    width: 30px;
    height: 30px;
    background-color: #dfe5e8;
    font-size: 16px;
    color: #5f727f;
    line-height: 30px;
    text-align: center;
}

table.table-items .product-quantity .product-quantity-box .amount {
    width: 40px;
}

input[name="couponCode"], .checkout-row .apply-btn, .checkout-row .update-btn, .checkout-row .checkout-btn {
    padding: 0 21px;
    margin: 0 10px;
    line-height: 50px;
}

input[name="couponCode"]::placeholder {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #99a9b5;
}

input[name="couponCode"], .checkout-row .apply-btn {
    float: left;
}

.checkout-row .update-btn, .checkout-row .checkout-btn {
    float: right;
    cursor: pointer;
}

input[name="couponCode"] {
    background-color: #f5f7f6;
    border: 1px solid #dfe5e8;
    margin-left: 15px;
    width: 191px;
}

.checkout-row .apply-btn {
    line-height: 46px;
    color: #00bcd4;
    border: 3px solid #00bcd4;
    border-radius: 3px;
    cursor: pointer;
}

.checkout-row .update-btn {
    color: #fff;
    background-color: #00bcd4;
    border-radius: 3px;
}

.checkout-row .checkout-btn {
    color: #fff;
    background-color: #393d50;
    border-radius: 3px;
}

.calculate {
    display: flex;
    margin-top: 80px;
}

.calculate .calculate-shipping {
    width: 50%;
    margin-right: 42px;
}

.calculate .calculate-shipping .calculate-shipping-title, .calculate .cart-total .cart-total-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #3c3950;
    margin-bottom: 50px;
}


.calculate .calculate-shipping select#countryAddress, .calculate .calculate-shipping input {
    padding: 11px 0;
    padding-left: 18px;
    margin-bottom: 17px;
    border: 1px solid #dfe5e8;
    border-radius: 3px;
}

.calculate .calculate-shipping select#countryAddress, .calculate .calculate-shipping input::placeholder {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #99a9b5;
}

.calculate .calculate-shipping select#countryAddress {
    width: 100%;
}

.calculate .calculate-shipping #stateAddress {
    width: calc(50% - 29px);
    margin-right: 14px;
}
.calculate .calculate-shipping #zipAddress {
    width: calc(50% - 29px);
}

.calculate .calculate-shipping .update-total-btn {
    width: fit-content;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 50px;
    color: #00bcd4;
    padding: 0 20px;
    border: 3px solid #00bcd4;
    border-radius: 3px;
    cursor: pointer;
}

.calculate .cart-total {
    width: 50%;
}

.calculate .cart-total table {
    width: 100%;
    line-height: 23px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #869199;
}

.calculate .cart-total table tr td {
    vertical-align: middle;
    border: 1px solid #dfe5e8;
    padding: 13px 22px;
    margin: 0 auto;
}

.calculate .cart-total table tr td:first-child {
    color: #5f727f;
    font-size: 16px;
    background-color: #f0f3f2;
}

.calculate .cart-total table tr:first-child td:last-child, .calculate .cart-total table tr:last-child td:last-child {
    color: #3c3950;
    font-size: 20px;
}

.calculate .cart-total table tr:nth-child(2) td:last-child {
    color: #5f727f;
    font-size: 14px;
}

input[type='radio']:after {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: #b6c6c9;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border: 3px solid #b6c6c9;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
}

.interested-product {
    margin-top: 70px;
    margin-bottom: 112px;
}

.interested-product .interested-product-title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #3c3950;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 69px;
}

.interested-product .interested-product-title .stripe {
    flex: 1;
    margin-left: 20px;
    border-top: 2px solid #f0f3f2;
    border-bottom: 2px solid #f0f3f2;
    height: 3px;
}

.interested-product .interested-product-content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.interested-product .interested-product-content .interested-product-item {
    max-width: 160px;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img {
    position: relative;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
    height: 200px;
    background-color: #fff;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img:first-child, .interested-product-item-img:last-child {
    margin: 0;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img .sale-tag span {
    position: absolute;
    top: 25px;
    left: 10px;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img .new-tag span {
    position: absolute;
    top: 18.75px;
    left: 8px;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img .sale-tag {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #00bcd4;
    right: -15px;
    top: 20px;
    z-index: 2;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-img .new-tag {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #393d50;
    right: -10px;
    top: 68px;
    z-index: 1;
}

.interested-product .interested-product-content .interested-product-item .interested-product-item-content {
    border: 1px solid #dfe5e8;
    border-top: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 25px 0;
}

.interested-product-item-content .product-name {
    color: #5f727f;
    margin-bottom: 9px;
}

.interested-product-item-content .product-price {
    color: #00bcd4;
}

footer {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #212331;
    color: #ffffff;
    padding-top: 54px;
}

.footer-top .footer-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top .footer-top-container .footer-top-container-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    width: 24%;
}


.footer-top .footer-top-container .footer-top-container-items .footer-top-container-title {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-top: 80px;
    margin-bottom: 42px;
}

.footer-top .footer-top-container .footer-top-container-items .footer-top-container-title .footer-top-container-title-content {
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 36px;
    font-weight: 400;
}

.footer-top .footer-top-container .footer-top-container-items .footer-top-container-title span {
    font-weight: bold;
}

.red-icon:after {
    content: "";
    position: absolute;
    border-bottom: solid 10px red;
    border-right: solid 10px transparent;
    bottom: 2px;
}

.footer-top-container-content {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #99a9b5;
    width: 100%;
    text-transform: none;
    margin: 10px 0;
    position: relative;
}

.dot {
    border-top: 1px dashed #50586a;
    width: 90%;
}

.footer-top-container-content-details {
    margin-left: 10px;
}

.footer-top-container-content-date {
    float: left;
    color: #00bcd4;
}

.footer-top-container-content-comment {
    float: right;
    cursor: pointer;
}

.footer-top-container-content-comment:hover {
    color: #00bcd4;
}

.footer-top-container-content .info-box {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
}

.footer-top-container-content .info-box input {
    border: 1px solid #394050;
    border-radius: 3px;
    background-color: inherit;
    width: 100%;
    padding: 13px 17px;
    color: #99a9b5;
    margin-bottom: 14px;
}

.footer-top-container-content input::placeholder {
    color: #394050;
}

.show-icon i.fa-user {
    position: absolute;
    right: -20px;
    top: 15px;
}

.show-icon i.fa-envelope {
    position: absolute;
    right: -20px;
    top: 70px;
}

.footer-top-container-content .info-box input#Message {
    height: 500px;
}

.footer-top-container-content .info-box input:hover, .footer-top-container-content .info-box textarea:hover {
    border-color: #00bcd4;
}

textarea {
    border: 1px solid #394050;
    border-radius: 3px;
    background-color: inherit;
    width: 100%;
    padding: 13px 17px;
    color: #99a9b5;
    font-family: "Source Sans Pro", sans-serif;
    resize: none;
    margin-bottom: 14px;
}

textarea::placeholder {
    color: #394050;
}

.footer-top-container-content .info-box .send-msg-btn {
    width: 100%;
    font-family: "Montserrat" ;
    font-weight: bold;
    background-color: #394050;
    border: 1px solid #394050;
    border-radius: 3px;
    cursor: pointer;
    padding: 13px 17px;
    text-transform: uppercase;
    color: #99a9b5;
    margin-bottom: 7px;
}

.project-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-project img {
    width: calc(100%/3 - 4px);
    height: 80px;
}

.useful-link {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.useful-link:hover {
    color: #00bcd4;
    cursor: pointer;
}

.useful-link::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: solid 2.5px #00bcd4;
    bottom: 10px;
    left: -10px;
}

.footer-top-container-content .newsletter-box input {
    border: 1px solid #394050;
    background-color: inherit;
    width: 90%;
    padding: 13px 17px;
    color: #99a9b5;
    margin-top: 25px;
    margin-bottom: 10px;
    border-right: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.subscribe-email {
    display: flex;
}

.submit-btn {
    padding: 13px 17px;
    background-color: #394050;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #99a9b5;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #313646;
    background-color: #181828;
    line-height: 99px;
}

.slider-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 34%;
    margin-right: 36%;
    margin-bottom: 88px;
}

.project-slider {
    content: "";
    border-radius: 50%;
    border: solid 7px #394050;
    margin: 0 6px;
    text-align: center;
}

.project-slider:hover {
    border-color: #99a9b5;
}

span.change-color {
    color: #00bcd4;
}

.footer-bottom-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    color: #717c88;
}

.footer-bottom-container a {
    color: #717c88;
}

.footer-bottom-social a {
    margin-left: 20px;
}